/* MAIN */

body{
	margin: 0;
	top: 0;
}

/* MENU */

.header{
	margin-top: -18px;
	background-size: 100%;
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 350px;
}

.headcont {
	float: center;
	position: relative;
	width: 1280px;
	height: 120px;
	margin: 0 auto;
	top: 0;
}

.menu {
	top: 20px;
	list-style-type: none;
	position: relative;
	padding-left: 0;
	width: 100%;
	border-top: 4px solid #A78D76;
	height:100%;
}

.menu li {
	overflow: hidden;
	float: left;
	text-align: center;
	padding: 40px 43px;
	border-bottom: 4px solid #A78D76;
	font-family: Calibri;
	font-size: 17px;
	font-weight: 600;
	color: #A78D76;
}

.menu li.logo {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 49px;
	padding-right: 57px;
	border-bottom: 0;
}

.menu li.logo img{
	width: 128px;
}

.menu li.item:hover, li.active {
	border-bottom: 4px solid #352553;
	color: #FFF;
	/*background-image: url("../img/menu-selected.png");*/ /*CASO QUEIRA UTILIZAR O BLUR NO MENU*/
	background-size: 100% 100%;
}

#title {
	text-align: center;
	float: middle;
	padding-top: 140px;
	color: #DDD;
	font-family: Calibri;
	font-size: 40px;
	font-weight: 600;
}

/* CONTAINER */

.container {
	top: 20px;
	float: center;
	position: relative;
	width: 1280px;
	margin: 0 auto;
	text-align: left;
}

.content {
	position: relative;
	padding-left:0;
	width: 100%;
	font-size: 17px;
	font-family: Verdana;
	color: #666;
}

.slider {
	position: relative;
	padding-left: 0;
	width: 100%;
}

.slide {
	width: 1280px;
}

.slider-buttons {
	position: relative;
	float: center;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	top: -40px;
}

.slider-left {
	position: relative;
	float: left;
	font-size: 20px;
	color: #352553;
}

.slider-right {
 	position: relative;
 	float: right;
 	color: #352553;
 	font-size: 20px;
}

.slider-page {
	background-color: #352553;
	display: inline-block;
	text-align:center;
	border-radius: 50%;
	top: 5px;
	height: 8px;
	width: 8px;
	position: relative;
}

.slider-left:hover, .slider-right:hover {
	color: #FFF;
}

span.active {
	background-color: #FFF;
}

/* FOOTER */

.footer {
	float: center;
	position: relative;
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	top: 50px;
}

.footer-content {
	position: relative;
	padding-left:0;
	width: 100%;
}

.footer-content .fb{
	font-size: 16px;
	font-family: Verdana;
	color: #777;
	text-decoration: none;
	text-align: left;
	float: left;
}

.footer-content .fb img {
	width: 32px;
	height: 32px;
	float: left;
	padding: 5px;
}

.footer .span {
	float: center;
	margin: 0 auto;
	width: 1000px;
	border-top: 1px solid #AAA;
	padding-bottom: 40px;
}

.footer .logo-footer {
	width: 64px;
	height: 64px;
	float: center;
}

.footer p {
	float: right;
	text-align: right;
	font-size: 16px;
	font-family: Verdana;
	color: #777;
	right: 0;
}

/* TOOLTIP */

.dev {
	font-weight: 600;
}

.dev .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 13px;

    position: absolute;
    bottom: 100%;
    right:0;

    opacity: 0;
    transition: opacity 1s;
}

.dev .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.dev:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* FONTS */

h4 {
	text-align: center;
	font-size: 40px;
	font-family: Calibri;
	font-weight: 600;
	color: #312553;
}
h1 {
	text-align: left;
	font-size: 14px;
	font-family: Calibri;
	font-weight: 600;
	color: #312553;
}
#map {
	height: 400px;
	width: 100%;
}
body{
	font-size: 14px;
	font-family: Calibri;
	color: #312553;
}
label{
	text-align: left;
	font-size: 14px;
	font-family: Calibri;
	font-weight: 600;
	color: #312553;
}

/* Area de Atuacao */

#divMenuAtuacao {
	position:relative;
	margin: 0;
    padding: 0;
	overflow: hidden;	
}

#ulMenuAtuacao {
	position:relative;
	left:27%;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#ulMenuAtuacao li {
    float: left;
	border:0;
}

#ulMenuAtuacao li a {
    display: block;
    padding: 8px;
	text-decoration: none;
	font-size:18px;
	padding-bottom:13px; /* para a borda de baixo */
	padding-right:45px;
	color:gray;
}
#ulMenuAtuacao li a:hover {
    background-color: #bcd;
}

#ulMenuAtuacao li a:active {
    background-color: #abc;
}

#ulMenuAtuacao  li img{
    width:17px;
	height:17px;
	padding-right:4px;
}

#divAtuacaoContent {
	position:relative;
	margin:0;
	padding:0;
}

#divContentAtuacao {
	overflow:auto;
}

#divImgAtuacao {
	float: left;
	margin-right:10px;	
}

#divTextoAtuacao {
	
}

#divImgAtuacao img{
	width:450px;
	display:block;
}
